
a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.service-img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.slick-prev {
    background-color: red;
}

.ri-facebook-box-fill {
    font-size: 30px;
}

.meet-img {
    width: 300px;
    /*height: 350px;*/
}

.country-cover-image {
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    background-image: url(./../images/country-japan.jpeg);
    margin-top: 2rem;
}
.service-cover-image1 {
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    background-image: url(./../images/ourservices1.jpg);
    margin-top: 2rem;
}
.service-cover-image2 {
    background-size: cover;
    background-position: center;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    background-image: url(./../images/ourservices2.jpg);
    margin-top: 2rem;
}

.footer-bg {
    background-color: #060047;
    color:#FFF;
    padding: 50px;
}
.footer-bg ul li a{
    color: #FFF !important;
}

